 .material-symbols-outlined {
     font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
 }

 body {
     background-color: #060e20;
     color: #dee5ff;
     font-family: 'Manrope', sans-serif;
 }

 .neon-glow-primary {
     box-shadow: 0 0 20px rgba(132, 85, 239, 0.15);
 }